name: Update Key Every 6 Hours

permissions:
  contents: write

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  update-key:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Generate Key
        run: |
          KEY=$(date +%Y%m%d%H | sha256sum | cut -c1-16 | tr 'a-f' 'A-F')
          echo "$KEY" > key.txt

      - name: Commit & Push
        run: |
          git config user.name "KeyBot"
          git config user.email "keybot@github.com"
          git add key.txt
          git commit -m "Update key" || echo "No changes"
          git push
