local function GetOnlineKey()
    local success, result = pcall(function()
        return game:HttpGet("RAW_LINK_BURAYA")
    end)
    if success then
        return result:gsub("%s+", "")
    end
end

local function GenerateLocalKey()
    local t = os.date("!*t")
    local hourBlock = math.floor(t.hour / 6)
    local base = t.year .. t.month .. t.day .. hourBlock

    local seed = 0
    for i = 1, #base do
        seed = seed + string.byte(base, i) * i
    end

    math.randomseed(seed)

    local chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
    local key = ""

    for i = 1, 16 do
        local r = math.random(1, #chars)
        key = key .. chars:sub(r, r)
    end

    return key
end

if GetOnlineKey() == GenerateLocalKey() then
    LoadKakHub()
else
    Rayfield:Notify({
        Title = "Key expired",
        Content = "Please get the new key from Discord",
        Duration = 5
    })
end
