name: Update Kak.Hub Key

on:
  schedule:
    - cron: "0 0 * * *"   # 24 saatte 1 (UTC 00:00)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-key:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate new key
        run: |
          KEY=$(openssl rand -base64 32 | tr -dc 'A-Z0-9' | head -c 10)
          echo "$KEY" > key.txt

      - name: Send or Edit Discord Message
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          KEY=$(cat key.txt)

          if [ ! -f message_id.txt ]; then
            echo "EMPTY" > message_id.txt
          fi

          MESSAGE_ID=$(cat message_id.txt)

          PAYLOAD="{\"content\":\"Kak.Hub Daily Key\n\nKEY:\n$KEY\n\nRenewal: Every 24 Hours\"}"

          if [ "$MESSAGE_ID" = "EMPTY" ]; then
            RESPONSE=$(curl -s -X POST "$DISCORD_WEBHOOK?wait=true" \
              -H "Content-Type: application/json" \
              -d "$PAYLOAD")

            echo "$RESPONSE" | jq -r '.id' > message_id.txt
          else
            curl -s -X PATCH "$DISCORD_WEBHOOK/messages/$MESSAGE_ID" \
              -H "Content-Type: application/json" \
              -d "$PAYLOAD"
          fi

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add key.txt message_id.txt
          git commit -m "Update daily key" || echo "No changes"
          git push
